/**
 * Font face declatarations go to the top!
 */
@font-face {
	font-family: 'fira_sansregular';
		src: url('../fonts/firasans-regular-webfont/firasans-regular-webfont.eot');
		src: url('../fonts/firasans-regular-webfont/firasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/firasans-regular-webfont/firasans-regular-webfont.woff2') format('woff2'),
		url('../fonts/firasans-regular-webfont/firasans-regular-webfont.woff') format('woff'),
		url('../fonts/firasans-regular-webfont/firasans-regular-webfont.ttf') format('truetype'),
		url('../fonts/firasans-regular-webfont/firasans-regular-webfont.svg#fira_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'fira_sansbold';
		src: url('../fonts/firasans-bold-webfont/firasans-bold-webfont.eot');
		src: url('../fonts/firasans-bold-webfont/firasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/firasans-bold-webfont/firasans-bold-webfont.woff2') format('woff2'),
		url('../fonts/firasans-bold-webfont/firasans-bold-webfont.woff') format('woff'),
		url('../fonts/firasans-bold-webfont/firasans-bold-webfont.ttf') format('truetype'),
		url('../fonts/firasans-bold-webfont/firasans-bold-webfont.svg#fira_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    color: #000000;
    font-family: fira_sansregular, sans-serif;
    line-height: 1.4;
}
h1, h2, h3, h4, h5, h6, th, bold, strong, a:link, a:visited, dt{
  font-family:'fira_sansbold';
  font-weight:normal;
}
.old{
  display:none;
}

.header,
.marketing,
.footer {
    padding-right: 1.5em;
    padding-left: 1.5em;
}

.sidebar {
    background: #D4D3D3;
}

.sidetitle {
    padding: .5em;
    color: #fff;
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    background: #003b4c;
    border-radius: 0.4em 0.4em 0 0;
}

.sidetext {
    padding: 1em;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#moreactionarea {
    max-width: 15em;
    margin: 18px 9px 0px 1em;
    padding: 10px;
    background: #C6C6C6;
    border-radius: 5px;
    float: right;
}


section ul,
section ol {
    margin-left: 1em;
}

#actionarea section ul,
section ol {
    margin-left: 0;
}

.paper {
    padding: 1em 1em;
    background: #fff;
    color: #000;
}

.paper iframe {
    border: 0px;
    margin: auto;
}

.indent {
    margin: 2em 0;
}

.shadow {
    border-radius: 0.4em;
    box-shadow: 0 0 0.3em 0.1em #E4E5E6;
}

#actionarea h2 {
    font-size: 1.3em;
    text-align: left;
    margin: 1.3em 0 .9em 0;
}

#infoarea {
    overflow: hidden;
}

/*** Page Layout ***/

noscript p {
    margin: 0 -2em;
    border-bottom: solid 1px #000;
    padding: 0.1em 0;
    background: #ee0;
    text-align: center;
}

noscript a {
    color: #262;
}


/**
 * Header
 * ======
 */
header {
  background: #003B4C;
  color: #FFFFFF;
  text-align: center;
  border-bottom:3px solid #EB4B34;
  position: relative;
  z-index:20;
}
header .wrapper{
  margin-left:auto;
  margin-right:auto;
}
header > .inner{
  position: relative;
}
#logo{
  display:inline-block;
  width:100%;
  max-width:31.7em;
  margin-bottom:1em;
}

#site-header h1{
  font-size:3.2em;
  margin-top:0;
  margin-bottom:0.25em;
}
#site-header h2{
  font-size:2.2em;
  line-height:1.8;
  margin-bottom:0.4em;
}
#site-header h2 .urgent{
  display: block;
  position: absolute;
  left: -999em;
}
#site-header a{
  display:block;
  color:#FFFFFF;
  text-decoration:none;
  border-bottom:3px solid #EB4B34;
}
#site-header a:link,
#site-header a:visited{
  background:#EB4B34;
}
#site-header a:hover,
#site-header a:focus{
  background:#507884;
}
#site-header a:active{
  background:#333333;
}
#site-header h2 a{
  display:inline-block;
  padding:0 0.5em 0.2em 0.5em;
}
#site-header .subheadline{
  background:#333333;
  font-size:1.2em;
  line-height:2.5;
  margin:0;
  padding:0 3.5em 0 0.5em;
}
#site-header #akvorrat {
  position: absolute;
  bottom: 1em;
  right: 0;
  padding:0.5em;
  max-width:15%;
  width:14.4em;
  border-bottom:3px solid #EB4B34;
}
#site-header #akvorrat:link,
#site-header #akvorrat:visited{
  background:none;
}
#site-header #akvorrat:hover,
#site-header #akvorrat:focus,
#site-header #akvorrat:active{
  background:#333333;
}


/*#akvorrat:after {
	content:'AKVorrat';
	position:absolute;
	top:-0.3em;
	right:-0.001em;
	color:rgba(255,255,255, 0.2);
	font-size:5em;
	font-weight:bold;
}*/
/**
 * Navigations
 * ===========
 * 1. primary
 * 2. meta
 */
#primary .wrapper{
  margin-left:auto;
  margin-right:auto;
}
#primary h3{
  font-size:1em;
  margin:0;
}
#primary.app-menu > .inner{
  position:relative;
}
#primary.app-menu .toggle{
  position:absolute;
  z-index:25;
  right:0;
  top:-3.8em;
  text-indent: -999em;
  height: 2.5em;
  width: 2.5em;
  padding:0.5em 1em;
  color:#FFFFFF;
}
#primary.app-menu .toggle:before{
  display: block;
  float:left;
  height:1em;
  width:1em;
  text-align:center;
  text-indent:0;
  font-family:FontAwesome;
  font-size: 2.5em;
  line-height:1em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#primary.app-menu .toggle:before{ content: "\f0c9"; }
#primary.app-menu .toggle.active{ background:#507884; }

#primary.app-menu .menu{
  position:absolute;
  right:0;
  left:0;
  /* top is set by JS in px */
  background:#333333;
  border-bottom:3px solid #EB4B34;
  z-index:15;
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
  transition:top ease 350ms;
}
#primary.app-menu .menu.active{
  z-index:90;
}
#primary .menu{
  z-index:60;
  width:100%;
  padding:0;
  margin:0;
}
#primary .menu ul{
  margin:0;
  padding:0 0.6em;
}
#primary li{
}
#primary li + li{
}
#primary .menu a{
  font-size:1.4em;
  padding:0 2em;
  line-height:3em;
  color:#FFFFFF;
  text-decoration:none;
}
#primary .current-menu-ancestor > a,
#primary .current-menu-item > a,
#primary a.active-trail,
#primary a.active,
#primary a:active{
  background:#507884;
}
#primary ul ul{
  border: 1px solid #D5D5D5;
  border-width: 1px 0px;
  padding-left:1em;
}
#primary ul ul a {
  white-space:nowrap;
  min-width:8em;
}
#primary ul ul a:link,
#primary ul ul a:visited{
}
#primary ul ul a:hover,
#primary ul ul a:focus{
  background:#003B4C;
}
#primary li:hover > ul{
  left:auto;
}
#primary li:hover > a{
  background:#003B4C;
}
#meta{
  display:none;
}
.actions {
    margin: 0;
}

.actions ul {
    list-style-type: none;
}

.actions li {} .shareicons {
    list-style-type: none;
}

.shareicons li {
    display: inline-block;
    margin: .3em 0.5em;
    width: auto;
}

.specialemphasis {
    max-width: 35em;
    margin: 1em auto;
    border: solid 0.2em #8ebf2a;
    padding: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.glossar dl {
    width: 45em;
    margin: 1em auto;
}

/* Float-contain */

.glossar:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.glossar {
    display: inline-block;
}

.glossar {
    display: block;
}

.glossar dt {
    display: block;
    width: 5em;
    clear: left;
    float: left;
    margin: 0 0 0.75em;
}

.glossar dd {
    display: block;
    width: 40em;
    float: left;
    margin: 0 0 0.75em;
}

footer {
    margin-top: 20px;
    padding: 1em;
    background: #003b4c;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

footer img {
    margin-bottom: 1em;
    max-width: 100%;
}

footer a,
footer a:hover,
footer a:focus {
    color: #fff;
}

#tenpoints,
#fivedemands {
    padding: 1em 3em;
}

#wrapper-fazit section,
#wrapper-zeitplan section {
    margin: 2em;
}

#wrapper-fazit {
    background-color: #8ebe2a
}

#wrapper-zeitplan {
    background-color: #013c4e
}

input[type=text],
input[type=email],
input[type="submit"],
select {
    padding: .45em .6em;
    margin: 0.3em 0;
}

input[type=text],
input[type=email],
select {
    padding: .45em .6em;
    margin: 0.3em 0;
    border: 1px solid #aaa;
    width: 19em;
    max-width: 100%;
}

.inputSubmit {
    background: linear-gradient(#F7F7F7, #DDD);
}

.form-required {
    color: #f00;
}

label {
    margin-right: 0.4em;
    font-size: .95em;
}

.signpetition {
    text-align: left;
}

.signpetition ol li {
    width: 85%;
    display: list-item;
    max-width: 100%;
}

.signformLabel {
    display: inline-block;
    min-width: 6.4em;
}

#edit-submitted-deine-botschaft {
    width: 97%;
    font-family: inherit;
    font-size: inherit;
    padding: .45em .6em;
    margin: 0.3em 0;
    border: 1px solid #aaa;
}

input.form-submit,
a.button,
#spenden-button {
    color: #fff;
    background: #013c4e;
    border: 1px solid #A4D939;
    border-radius: .3em;
    padding: .5em;
    margin: .2em 0;
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;
}

input.inputText {
    width: 16em;
}

.button-primary {
    font-size: 1.2em;
}

.demand_short {
    font-weight: bold;
}

.sectionimage {
    text-align: center;
    padding: 2em 0 0;
    margin-bottom: 2em;
}

/**
 * Slider
 * ======
 */
.slideColumn {
    padding: 1.5em;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}

.slideContent {
    width: 40%;
    overflow: hidden;
    margin: auto;
}

.slider {
    width: 100%;
    text-align: center;
    color: #003b4c;
    background: #f8f9fa;
    display: table;
}

.sliderExpand {
    min-height: 2.3em;
    animation-name: sliderExpand;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes sliderExpand {
    0% {
        max-height: 2.3em;
    }
    100% {
        max-height: 1000em;
    }
}

.sliderShrink {
    min-height: 2.3em;
    // animation-name: sliderShrink;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes sliderShrink {
    0% {
        max-height: 1000em;
    }
    100% {
        max-height: 2.3em;
    }
}

.slider blockquote:before {
    content: '»';
    color: #8ebf2a;
    font-weight: bold;
}

.slider blockquote:after {
    content: '«';
    color: #8ebf2a;
    font-weight: bold;
}

#quoteFadeout {
	position: absolute;
	width: 32%;
	min-height: 2.3em;
	background: linear-gradient(to bottom, transparent, transparent 80%, #f8f9fa);
}

#quoteFadeout.sliderExpand {
	background: transparent;
}

.slide {
    display: table-cell;
    vertical-align: middle;
    font-size: 200%;
    width: 10%;
}

.slideUnselectable {
    color: #DDD;
}

.slide:hover {
    background-color: rgba(0, 0, 0, .05);
}

.slideForwards {
    animation-name: slideForwards;
    animation-duration: .6s;
}

@keyframes slideForwards {
    0% {
        opacity: 1;
        transform: scale(1,1);
        transform: translate(0,0);
    }
    50% {
        opacity: 0;
        transform: scale(3,3);
        transform: translate(-100%,0);
    }
    51% {
        transform: translate(100%,0);
    }
    100% {
        opacity: 1;
        transform: scale(1,1);
        transform: translate(0,0);
    }
}

.slideBackwards {
    animation-name: slideBackwards;
    animation-duration: .6s;
}

@keyframes slideBackwards {
    0% {
        opacity: 1;
        transform: scale(1,1);
        transform: translate(0,0);
    }
    50% {
        opacity: 0;
        transform: scale(3,3);
        transform: translate(100%,0);
    }
    51% {
        transform: translate(-100%,0);
    }
    100% {
        opacity: 1;
        transform: scale(1,1);
        transform: translate(0,0);
    }
}

/**
 * Progress bar
 * ============
 */
.progress-bar {
    position: relative;
    overflow: hidden;
    border: solid 1px #003b4c;
    border-radius: 0.3em;
}
.progress-volume {
    background: #8ebf2a;
    /* Old browsers */
    background: -moz-linear-gradient(top, #b6f235 0%, #8ebf2a 50%, #b6f235 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b6f235 0%, #8ebf2a 50%, #b6f235 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b6f235 0%, #8ebf2a 50%, #b6f235 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 100%;
    width: 0.01%;
    position: absolute;
    transition: width 4s ease;
}
.progress-description {
    text-align: center;
    margin: 0;
    font-weight: bold;
    padding: 1.1em;
    position: relative;
    z-index: 2;
    text-shadow: 0 0 10px #fff;
    font-size: 1.5em;
}


@media all and (min-width: 400px) {
  #site-header .subheadline{
    font-size:1.4em;
    line-height:2;
  }
}
@media all and (min-width: 450px) {
  #site-header h1{
    font-size:4.4em;
  }
  #site-header h2{
    font-size:2.8em;
  }
  #site-header .subheadline{
    font-size:1.8em;
  }
  #site-header #akvorrat {
    padding:1em;
  }
}
@media all and (min-width: 510px) {
  #site-header .subheadline{
    font-size:2em;
  }
  #primary.app-menu .toggle{
    top:-4.3em;
  }
}
@media all and (min-width: 600px) {
  #site-header h2 .urgent{
    display: inline;
    position: static;
    left:auto;
  }
}












